<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>OrgWithMembers</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrgWithMembersServlet</display-name>
    <servlet-name>OrgWithMembersServlet</servlet-name>
    <servlet-class>edu.utep.trust.OrgWithMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgWithMembersServlet</servlet-name>
    <url-pattern>/OrgWithMembersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLRewriter</display-name>
    <servlet-name>URLRewriter</servlet-name>
    <servlet-class>edu.utep.trust.URLRewriter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLRewriter</servlet-name>
    <url-pattern>/URLRewriter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PNNLUploader</display-name>
    <servlet-name>PNNLUploader</servlet-name>
    <servlet-class>edu.utep.trust.PNNLUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PNNLUploader</servlet-name>
    <url-pattern>/PNNLUploader</url-pattern>
  </servlet-mapping>
</web-app>